body{
    background-color: #e3e3e3;
}
#header{
    background-color: blue;
    color: white;
    padding: 7px 0px;
    text-align: center;
}
#header a{
    background-color: white;
    color: black;
    border: 1px solid;
    border-color: black;
    text-decoration: none;
    padding: 1px 10px;
    margin-left: 4%;
}
#header a:hover{
    background-color: black;
    color: white;
}
#estruturei{
    width: 80%; /*largura*/
    margin-left: auto; /*margem a esquerda*/
    margin-right: auto; /*margem a direita*/
}
#estruturei #tarefa{
    background-image: linear-gradient(to right, white, #a6b3fd);
    padding: 40px;
}
#estruturei #tarefa a{
    background-color: blue;
    color: white;
    border: 1px solid;
    border-color: black;
    text-decoration: none;
    padding: 7px 40px;
}
#estrutura{
    width: 80%; /*largura*/
    margin-left: auto; /*margem a esquerda*/
    margin-right: auto; /*margem a direita*/
}
#estrutura #produto{
    border: 1px solid;
    display: flex;
    background-color: white;
    margin: 10px 0px;
}
#estrutura #produto a{
    background-color: blue;
    color: white;
    border: 1px solid;
    border-color: black;
    text-decoration: none;
    padding: 7px 40px;
}
#estrutura #produto a:hover{ /*Só aparecerá quando o usuário passar o mouse no elemento*/
    background-color: white;
    color: blue;
}
#estrutura #produto img{
    width: 260px; /*Este comando controla a largura da imagem*/
    height: 200px; /*este comando controla a altura da imagem*/
    padding: 19px; /*Este comando cria espaçamento interno das imagens*/
}
#estrutura #produto img:hover{
    transform: translateY(-8px);
}
#rodape{
    background-color: blue;
    color: white;
    padding: 7px 0px;
    margin-top: 1%;
    text-align: center;
}