body{ /*Corpo do site*/
    background-color: #e3e3e3;
}
#header{ /*Parte de cima do site*/
    background-color: blue;
    color: white;
    padding: 7px 0px;
    text-align: center;
}
#header a{ /*Link da parte de cima do site*/
    background-color: white;
    color: black;
    border: 1px solid;
    border-color: black;
    text-decoration: none;
    padding: 0px 20px;
    margin-left: 4%;
}
#header a:hover{ /*Muda a parte do link da parte de cima do site*/
    background-color: black;
    color: white;
}
#estrutura{ /*Estrutura da pagina da história do site*/
    width: 90%; /*largura*/
    margin-left: auto; /*margem a esquerda*/
    margin-right: auto; /*margem a direita*/
}
#estrutura #produto{ /*Conteudo do site como fotos e informação*/
    border: 1px solid;
    display: flex;
    background-color: white;
    margin: 10px 0px;
}
#estrutura #produto a{ /*Link para fazer a compra*/
    background-color: blue;
    color: white;
    border: 1px solid;
    border-color: black;
    text-decoration: none;
    padding: 7px 40px;
}
#estrutura #produto a:hover{ /*Só aparecerá quando o usuário passar o mouse no elemento*/
    background-color: white;
    color: blue;
}
#estrutura #produto img{
    width: 240px; /*Este comando controla a largura da imagem*/
    height: 190px; /*este comando controla a altura da imagem*/
    padding: 5px; /*Este comando cria espaçamento interno das imagens*/
}
#estrutura #produto img:hover{ /*Faz a posição da foto mudar um pouco*/
    transform: translateY(-8px);
}
#rodape{ /*Conteudo do rodape do site*/
    background-color: blue;
    color: white;
    padding: 7px 0px;
    margin-top: 1%;
    text-align: center;
}
@media screen and (max-width: 700px){
    #estrutura #produto{
        flex-direction: column;
    }
}
/*____________________________________________________ Pagina História*/
#estruturei{ /*Pagina da história do site*/
    width: 80%; /*largura*/
    margin-left: auto; /*margem a esquerda*/
    margin-right: auto; /*margem a direita*/
}
#estruturei #tarefa{ /*Conteudo da pagina da história do site*/
    background-image: linear-gradient(to right, white, #a6b3fd);
    padding: 40px;
}
#estruturei #tarefa a{ /*Link das paginas*/
    background-color: blue; /*Cor do fundo*/
    color: white; /*Cor das letras*/
    border: 1px solid;/*Ciria uma borda ao redor*/
    border-color: black; /*Cor da borda*/
    text-decoration: none; /*Tira a decoração do link*/
    padding: 7px 40px; /*Define o tamanho do link*/
}