p{
    padding-left: 5%; /*Espaçamento interno do lado esquerdo das imagens*/
    padding-right: 5%; /*Espaçamento interno do lado direito das imagens*/
}
h1{
    padding-left: 5%;  
}
img{
    border: 1px solid; /*Este comando cria bordas ao redor das imagens*/
    width: 350px; /*Este comando controla a largura da imagem*/
    height: 240px; /*este comando controla a altura da imagem*/
    margin: 9px; /*este comando controla as margens entre as imagens da imagem*/
    float: left; /*Este comando permite criar textos ao redor da imagem*/
    padding: 2%; /*Espaçamento interno das imagens*/
    /*O (h1) e o (p) são textos que colocamos na pagina da web*/
}