p{
    margin-left: 3%;
    margin-right: 3%;
}
h1{
    
    padding-left: 3%; /*Espaçamento interno do lado esquerdo das imagens*/
    padding-right: 3%; /*Espaçamento interno do lado direito das imagens*/  
}
#pa img{
    border: 1px solid; /*Este comando cria bordas ao redor das imagens*/
    width: 50px; /*Este comando controla a largura da imagem*/
    height: 30px; /*este comando controla a altura da imagem*/
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 1%;
    padding: 2%; /*Este comando cria espaçamento interno das imagens*/
    /*O (h1) e o (p) são textos que colocamos na pagina da web*/
}
#pb img{
    border: 1px solid; /*Este comando cria bordas ao redor das imagens*/
    width: 200px; /*Este comando controla a largura da imagem*/
    height: 120px; /*este comando controla a altura da imagem*/
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 1%;
    padding: 2%; /*Este comando cria espaçamento interno das imagens*/
    /*O (h1) e o (p) são textos que colocamos na pagina da web*/
}
#pc img{
    border: 1px solid; /*Este comando cria bordas ao redor das imagens*/
    width: 800px; /*Este comando controla a largura da imagem*/
    height: 480px; /*este comando controla a altura da imagem*/
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 1%;
    padding: 2%; /*Este comando cria espaçamento interno das imagens*/
    /*O (h1) e o (p) são textos que colocamos na pagina da web*/
}
#pd img{
    border: 1px solid; /*Este comando cria bordas ao redor das imagens*/
    width: 1150px; /*Este comando controla a largura da imagem*/
    height: 800px; /*este comando controla a altura da imagem*/
    margin-left: 3%;
    margin-top: 1%;
    padding: 2%; /*Este comando cria espaçamento interno das imagens*/
    /*O (h1) e o (p) são textos que colocamos na pagina da web*/
}
#rodape{
    background-color: blue;
    color: white;
    padding: 10px;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 3%;
    text-align: center;
}